@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #1e5139;
    --secondary-color: #fab70c;
    --accent1-color: #e16e1a;
    --accent2-color: #ded6a4;
    --accent3-color: #6f9584;

    --heading-font: var(--heading-font), serif;
    --paragraph-font: var(--paragraph-font), serif;

    --nav-background-color: #1e5139;
    --nav-link-color: #1e5139;
    --nav-hover-link-color: #1e5139;
    --nav-hover-background-color: #1e5139;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    padding: 15px;
    background-color: var(--accent1-color);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 100px;
    /* max-height: auto; */
    order: 1;
}

header nav {
    order: 2;
    display: flex;
    flex-direction: row;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    order: 1;
}

.hero > img {
    top: 25px;
    /* position: absolute; */
    width: 100%;
    height: 400px;
    opacity: 0.5; 
    z-index: -1;
}

.hero h1 {
    position: absolute;
    top: 25px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    color: var(--primary-color);
}

.thearticle {
    position: absolute;
    top: 125px; 
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thearticle img {
    top: 100px;
    width: 250px; 
    height: auto;
    margin: 0 auto;
    order: 2;
}

.thearticle p {
    vertical-align: middle;
    margin-left: 100px; 
    z-index: 1;
    order: 1;
}

section {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent2-color);
}

section h2 {
    order: 1;
}

section p {
    order: 2;
}

.adventure {
    order: 3;
    display: flex;
    background-color: var(--accent3-color);
    max-width: 960px;
}

.adventure h2 {
    order: 1;
}

.adventureimages {
    order: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure img {
    max-width: 150px;
    /* max-height: auto; */ /*I'm only removing this because the validator tool wouldn't allow it */
} 

nav {
    background-color: var(--accent1-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer a {
    text-decoration: none;
}

/************* contact styling ***************/

.companyinformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

.companyinformation iframe {
    margin: 10px;
    border-radius: 2%;
}

.employeeprofile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #6f9584;
}
.employeeprofile img {
    width: 200px;
    height: auto;
}

/************* form styling ***************/

form {
    background-color: #ded6a4;
    padding: 20px;
}

fieldset {
    border: 1px solid #1e5139;
    margin-bottom: 20px;
    border-radius: 2%;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #1e5139;
    font-family: var(--heading-font);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1e5139;
}

input[type="text"],
input[type="email"],
textarea {
    width: 30%;
    padding: 10px;
    border: 1px solid #6f9584;
    border-radius: 2%;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #fab70c;
    color: #1e5139;
    border: none;
    border-radius: 2%;
    cursor: pointer;
    font-size: 1em;
}

textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #6f9584;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
